<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="_86boxManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <_86boxManager.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>700, 534</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="NameColWidth" serializeAs="String">
                <value>184</value>
            </setting>
            <setting name="StatusColWidth" serializeAs="String">
                <value>107</value>
            </setting>
            <setting name="DescColWidth" serializeAs="String">
                <value>144</value>
            </setting>
            <setting name="PathColWidth" serializeAs="String">
                <value>217</value>
            </setting>
        </_86boxManager.Properties.Settings>
    </userSettings>
</configuration>
